@import '../../style/variables';

.header {
  padding-top: 40px;
  height: 100vh;
  background: url('../../resources/img/main_bg.jpg') center (center/cover) no-repeat;
  &__subtitle {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: $header-color;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &__line {
      margin-top: 20px;
    }
    &__line:first-child {
      margin-top: 0;
    }
    // &__line:last-child {
    //   margin-top: 20px;
    // }
  }
  .more-info {
    margin: 0 auto;
    margin-top: 18px;
    width: 120px;
    height: 30px;
    border: 1px solid $header-color;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: $header-color;
  }
}