@import '../../style/variables';

.about-goods {
  padding: 70px 0 61px 0;
  &__wrapper {
    display: grid;
    grid-template: auto / repeat(2, auto);
    justify-content: center;
    column-gap: 89px;    
  }
  &__description {
    width: 346px;
  }
  &__text {
    margin-top: 26px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: $text-color;
  }
  &__black-line {
    margin: 0 auto;
    margin-top: 60px;
    width: 240px;
    border: 1px solid #000000;
  }
}

@media (max-width: 1200px) {

}

@media (max-width: 991px) {
  .about-goods {
    &__wrapper {
      grid-template: repeat(2, auto) / auto;
      column-gap: 0;   
    }
    &__img {
      margin: 0 auto; 
    }
    &__description {
      width: 90%;
      margin: 0 auto;
    }
  }
}

@media (max-width: 767px) {

}

@media (max-width: 575px) {
  .about-goods {
    &__img {
      width: 200px;
    }
    &__description {
      width: 90%;
    }
  }
}