@import '../../style/variables';

.footer {
  padding: 30px 0 21px 0;
  width: 355px;
  margin: 0 auto;
  &__logo {
    width: 35px;
    height: 35px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: end;
    list-style-type: none;
  }
  &__link {
    position: relative;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: $text-color;
    &:after {
      content: "";
        display: block;
        position: absolute;
        right: 0;
        bottom: -3px;
        width: 0;
        height: 2px; /* Высота линии */
        background-color: $text-color; /* Цвет подчеркивания при исчезании линии*/
        transition: width 0.5s; /* Время эффекта */
    }
    &:hover:after {
      content: "";
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        bottom: -3px;
        height: 2px; /* Высота линии */
        background-color: $text-color; /* Цвет подчеркивания при появлении линии*/
        transition: width 0.5s;  /* Время эффекта */
    }
  }    
}